{% extends 'base.html' %}
 
{% block title %} Login {% endblock %}
 
{% block body %}
 
<h1>Login Here</h1>
 
<form action="{% url 'login' %}" method="post" novalidate >
 
    {% csrf_token %}
 
 
     {{form.as_p}}
 
    <input type="submit" value="Login"/>
 
</form>
 
<ul>
 
    <li><a href="{% url 'social:begin' 'github' %}">Signin With Github</a> </li>
    <li><a href="{% url 'social:begin' 'linkedin-oauth2' %}">Signin With Linkedin</a> </li>
    <li><a href="{% url 'social:begin' 'twitter' %}">Signin With Twitter</a> </li>
 
</ul>
 
{% endblock %}